EXPO_PUBLIC_SHOPIFY_DOMAIN=your-store.myshopify.com
EXPO_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=replace-with-storefront-token
EXPO_PUBLIC_SHOPIFY_API_VERSION=2025-10
EXPO_PUBLIC_SHOPIFY_ACCOUNT_URL=https://your-store.myshopify.com/account
